name: Android CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up JDK
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Optional: Debug folder structure (can remove later)
      - name: List files
        run: ls -R

      # Step 3: Make gradlew executable
      - name: Grant execute permission for gradlew
        run: chmod +x android/gradlew

      # Step 4: Build APK
      - name: Build APK
        run: |
          cd android
          ./gradlew assembleDebug
